@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  .section {
    padding: 5rem 0;
  }
  
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
  }
  main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  .sidebar-toggle {
    position: fixed;
    top: 2rem;
    right: 3rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: black;
    transition: var(--transition);
    cursor: pointer;
    z-index: 99;
    
  }
  .sidebar-toggle:hover {
    color: var(--clr-primary-7);
  }
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  .close-btn {
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    transition: var(--transition);
    cursor: pointer;
    color: var(--clr-red-dark);
  }
  .close-btn:hover {
    color: var(--clr-red-light);
    transform: rotate(360deg);
  }
  .logo {
    justify-self: center;
    height: 40px;
  }
  
  .links a {
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: var(--clr-grey-5);
    transition: var(--transition);
  }
  .links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.75rem;
  }
  
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-white);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: var(--clr-red-dark);
    transition: var(--transition);
    transform: translate(-100%);
  }
  .show-sidebar {
    transform: translate(0);
  }
  @media screen and (min-width: 676px) {
    .sidebar {
      width: 400px;
      position: fixed;
      z-index: 99;
    }
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* 헤더 스타일 */
header {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 20px 10;
   
}

header .inner {
    max-width: 1800px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

header h1 img{
    width: 230px;
   
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 30px;
}

header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f0a500;
}

/* 메인 이미지 섹션 */
.hero-section {
    height: 100vh;
    background: url('img/main-image.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: block;
}

.hero-section .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    text-align: center;
}

.hero-section h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #f0a500;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #333;
}

/* 본문 섹션 */
.content {
    padding: 60px 20px;
    background-color: #f4f4f4;
}

.content .inner {
    max-width: 1800px;
    margin: auto;
}

.content h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
}

.content p {
    text-align: center;
    margin-bottom: 60px;
    font-size: 1.3em;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
}

.gallery-item {
    text-align: center;
    width: 30%;
    border: groove 8px;
}

.gallery-item img {
    width: 90%;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.gallery-item h3 {
    margin-top: 20px;
    font-size: 1.5em;
    color: #f0a500;
}

.gallery-item p {
    margin-top: 10px;
    color: #000;
    font: 20px/1 'bold';
}

/* 짱구 친구들 */
.content {
    padding: 60px 20px;
    background-color: #f4f4f4;
}

.content .inner {
    max-width: 1800px;
    margin: auto;
}

.content h4 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
}

.content p {
    text-align: center;
    margin-bottom: 60px;
    font-size: 1.3em;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
}

.gallery-item {
    text-align: center;
    width: 30%;
}

.gallery-item img {
    width: 90%;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.gallery-item h5 {
    margin-top: 20px;
    font-size: 1.5em;
    color: #f0a500;
}

.gallery-item p {
    margin-top: 10px;
    color: #000;
    font: 20px/1 'bold';
}


/* 푸터 스타일 */
footer {
    background-color: #ffffff;
    color: rgb(3, 0, 0);
    text-align: center;
    
}

footer p img{
    width: 230px;
    
}


/* 반응형 디자인 */
@media (max-width: 768px) {
    .image-gallery {
        flex-direction: column;
        align-items: center;
    }

    .gallery-item {
        width: 80%;
        margin-bottom: 40px;
    }
}
.carousel{
	position: relative;
	width: 100%;
	height: 100%;
}
.carousel-inner{
	width: 100%;
	height: 100%;
}
.carousel-item{
	height: 100%;
}
.carousel-item img{
	width: 100%;
	height: 100%;
}
figure{
	display: block;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	object-fit: cover;
}
video {
	width: 100%;
	height: 100%;
	object-fit: cover; 
	top: 0px;
	left: 0px;
}
